/* -------------------
  RESET
--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  color: inherit;
  text-decoration: none; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* -------------------
  NO - RESET
--------------------*/
.no-reset {
  /* Begin bidirectionality settings (do not change) */ }
  .no-reset html, .no-reset address,
  .no-reset blockquote,
  .no-reset body, .no-reset dd, .no-reset div,
  .no-reset dl, .no-reset dt, .no-reset fieldset, .no-reset form,
  .no-reset frame, .no-reset frameset,
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset noframes,
  .no-reset ol, .no-reset p, .no-reset ul, .no-reset center,
  .no-reset dir, .no-reset hr, .no-reset menu, .no-reset pre {
    display: block;
    unicode-bidi: embed; }
  .no-reset li {
    display: list-item; }
  .no-reset head {
    display: none; }
  .no-reset table {
    display: table; }
  .no-reset tr {
    display: table-row; }
  .no-reset thead {
    display: table-header-group; }
  .no-reset tbody {
    display: table-row-group; }
  .no-reset tfoot {
    display: table-footer-group; }
  .no-reset col {
    display: table-column; }
  .no-reset colgroup {
    display: table-column-group; }
  .no-reset td, .no-reset th {
    display: table-cell; }
  .no-reset caption {
    display: table-caption; }
  .no-reset th {
    font-weight: bolder;
    text-align: center; }
  .no-reset caption {
    text-align: center; }
  .no-reset body {
    margin: 8px; }
  .no-reset h1 {
    font-size: 2em;
    margin: .67em 0; }
  .no-reset h2 {
    font-size: 1.5em;
    margin: .75em 0; }
  .no-reset h3 {
    font-size: 1.17em;
    margin: .83em 0; }
  .no-reset h4, .no-reset p,
  .no-reset blockquote, .no-reset ul,
  .no-reset fieldset, .no-reset form,
  .no-reset ol, .no-reset dl, .no-reset dir,
  .no-reset menu {
    margin: 1.12em 0; }
  .no-reset h5 {
    font-size: .83em;
    margin: 1.5em 0; }
  .no-reset h6 {
    font-size: .75em;
    margin: 1.67em 0; }
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset b,
  .no-reset strong {
    font-weight: bolder; }
  .no-reset blockquote {
    margin-left: 40px;
    margin-right: 40px; }
  .no-reset i, .no-reset cite, .no-reset em,
  .no-reset var, .no-reset address {
    font-style: italic; }
  .no-reset pre, .no-reset tt, .no-reset code,
  .no-reset kbd, .no-reset samp {
    font-family: monospace; }
  .no-reset pre {
    white-space: pre; }
  .no-reset button, .no-reset textarea,
  .no-reset input, .no-reset select {
    display: inline-block; }
  .no-reset big {
    font-size: 1.17em; }
  .no-reset small, .no-reset sub, .no-reset sup {
    font-size: .83em; }
  .no-reset sub {
    vertical-align: sub; }
  .no-reset sup {
    vertical-align: super; }
  .no-reset table {
    border-spacing: 2px; }
  .no-reset thead, .no-reset tbody,
  .no-reset tfoot {
    vertical-align: middle; }
  .no-reset td, .no-reset th, .no-reset tr {
    vertical-align: inherit; }
  .no-reset s, .no-reset strike, .no-reset del {
    text-decoration: line-through; }
  .no-reset hr {
    border: 1px inset; }
  .no-reset ol {
    list-style-type: decimal; }
  .no-reset ol ul, .no-reset ul ol,
  .no-reset ul ul, .no-reset ol ol {
    margin-top: 0;
    margin-bottom: 0; }
  .no-reset u, .no-reset ins {
    text-decoration: underline; }
  .no-reset br:before {
    content: "\A";
    white-space: pre-line; }
  .no-reset center {
    text-align: center; }
  .no-reset :link, .no-reset :visited {
    text-decoration: underline; }
  .no-reset :focus {
    outline: thin dotted invert; }
  .no-reset BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  .no-reset BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  .no-reset *[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed; }
  .no-reset *[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed; }
  @media print {
    .no-reset h1 {
      page-break-before: always; }
    .no-reset h1, .no-reset h2, .no-reset h3,
    .no-reset h4, .no-reset h5, .no-reset h6 {
      page-break-after: avoid; }
    .no-reset ul, .no-reset ol, .no-reset dl {
      page-break-before: avoid; } }

/* -------------------
  VARIABLES
--------------------*/
/* -------------------
  MIXIN
--------------------*/
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/
/* -------------------
  COMMON
--------------------*/
.pc-only {
  display: block; }
  @media screen and (max-width: 767px) {
    .pc-only {
      display: none !important; } }

.pc-only2 {
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .pc-only2 {
      display: none !important; } }

.sp-only {
  display: none; }
  @media screen and (max-width: 767px) {
    .sp-only {
      display: block !important; } }

@keyframes text-run {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes text-run {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

/* -------------------
  HEADER
--------------------*/
.header {
  padding: 30px;
  background-color: #f0f0f0; }

/* -------------------
  FOOTER
--------------------*/
.footer {
  padding: 30px;
  background-color: #f0f0f0; }

/* -------------------
  TOP PAGE
--------------------*/
.main {
  width: 1040px;
  margin: 100px auto; }

.linetext {
  margin: 100px 0;
  width: 580px; }
  .linetext-row {
    position: relative;
    margin: 7px 0;
    padding-left: 5px;
    font-size: 83px;
    line-height: 101px;
    font-family: 'Secular One', sans-serif;
    overflow: hidden;
    animation: text-run 1s; }
    .linetext-row span {
      position: relative;
      display: inline-block;
      z-index: 1; }
    .linetext-row svg {
      position: absolute;
      left: 0;
      bottom: 22px;
      z-index: 0; }
      .linetext-row svg rect {
        opacity: 0; }
    .linetext-row.active svg rect {
      opacity: 1; }

.triangle {
  position: relative;
  width: 580px;
  height: 580px; }
  .triangle-line {
    position: absolute; }
    .triangle-line.line1 {
      bottom: -12px;
      left: -11px; }
    .triangle-line.line2 {
      top: 0;
      left: 0; }
    .triangle-line.line3 {
      top: 0;
      right: 3px; }

/*# sourceMappingURL=../maps/index.css.map */
