@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
// Main 
.main {
	width: 1040px;
	margin: 100px auto;
}

// Main visual
.linetext {
	margin: 100px 0;
	width: 580px;
	&-row {
		position: relative;
		margin: 7px 0;
		padding-left: 5px;
		font-size: 83px;
		line-height: 101px;
		font-family: 'Secular One', sans-serif;
		overflow: hidden;
		animation: text-run 1s; 
		span {
			position: relative;
			display: inline-block;
			z-index: 1;
		}
		svg {
			position: absolute;
			left: 0;
			bottom: 22px;
			z-index: 0;
			rect {
				opacity: 0;
			}
		}
		&.active {
			svg {
				rect {
					opacity: 1;
				}
			}
		}
	}
}


// Icon triangle 
.triangle {
	position: relative;
	width: 580px;
	height: 580px;
	&-line {
		position: absolute;
		&.line1 {
	    bottom: -12px;
	    left: -11px;
		}
		&.line2 {
			top: 0;
			left: 0;
		}
		&.line3 {
			top: 0;
	    right: 3px;
		}
	}
}